.node {
	cursor: pointer;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font: 10px Helvetica;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-opacity: 0.4;
	stroke-width: 8px;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 180px;
	height: 80px;
	padding: 8px;
	font: 12px Helvetica;
	background: #ccc;
	border: solid 1px #aaa;
	border-radius: 8px;
	pointer-events: none;
}
